@charset "utf-8";
/* CSS Document */

/*Presentation of the main components*/
body {
	color:#1A1A1A;
	font:normal 14px/1.8em Arial, Helvetica, sans-serif;
	/* max-width: 1000px; */
	min-height: 100%;
	margin: auto;
	
}
/*Header section*/
.header_resize {
	/* background:#fff url(../images/header_bg.png) repeat-x center 97px; */
}
.container {
	min-height: 100vh;
	position: relative;
}
.menu_bar {
	background: #AFB6E8;
	/* height: 40px; */
}
.menu_bounds {
	max-width: 1000px;
	padding: 0 1rem;
	margin: auto;
	display: flex;
}
.menu_nav ul {
	/* float: right; */
}
.menu_nav ul li a {
	color:#FFF;
	text-decoration:none;
	height: 100%;
	font-size:14px;
	display: flex;
    align-items: center;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
	color: #FFF;
	z-index:-1;
	background-color:#7D85BA;
}
.menu_nav ul a, .menu_nav ul li {
	z-index:-1;
	color: #FFF;
	background-color: #AFB6E8;
}
/*Content section*/
.content_resize {
	background-color:#FFF;
	padding: 48px 0 0;
}

.content_resize a, .article-container a {
	color: #7D85BA;
}
.mainbar {
	
}
/*Footer section*/
.fbg {
	background-color:#AFB6E8;
	color: #FFF;
}

/*Other general components*/
.clr {
	font-size:12px;
}

#banner {
	font-size:1.3em;
}

.logo_container {
	width: 2rem;
	height: 2rem;
	margin-right: 0.5rem;
}

.logo h1 {
	display: inline-block;
	margin: 0;
	color: #fff
}

h2 {
	/* font:normal 24px/1.5em Arial, Helvetica, sans-serif; */
	color:#323a3f;
}
p {
	font:normal 14px/1.8em Arial, Helvetica, sans-serif;
	color:#323a3f;
}

/*Specific tags for each page*/
/*used in the "Getting Started" page*/
.explain {
	background: #fdfcff;
	border: 1px solid #AFB6E8;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	width: auto;
}
.explain code {
	font-size: 1.15em;
	color: #7D85BA;
}

.explain p {
	margin-bottom: 0;
}
/*Menu tags used for "Released Notes" page*/
#menu{
	background-color:#FFF;
	font-size:14px;
	margin-top: 0.5rem;
}
#menu ul li { 
	color:#FFF;
	text-decoration:none;
	cursor: pointer;
}
#menu a:link 
{
	text-decoration:none;
	color: #7273B6; 
}

#menu a:visited 
{
	text-decoration:none;
	color: #7273B6; 
}
#menu ul li:hover
{
	text-decoration:none;
	background-color: #7D85BA;
	color: #FFF; 
}
#menu ul li:hover a {
	color: #FFF; 
}
#menu .on {
	background-color: #7D85BA; 
}
#menu .on a{
	color: #FFF;%#6e6e6e;%#b4c8df;
}
.menucontent{

}

#contributors td{
	padding: 0px 10px 0px 0px;
	text-align:left;
}

.inner-flex {
	display: flex;
	flex-direction: column;
}

.inner-flex strong {
	width: 10rem;
}

@media screen and (min-width: 400px) {
	.inner-flex {
		display: flex;
		flex-direction: row;
	}
	.fbg {
		position: absolute;
		margin-top: 1rem;
	}

	.content_resize {
		padding:48px 0;
	}
}

@media screen and (min-width: 48em) {
	.navigation {
		display: none;
	}
	.menu_nav {
		position: fixed;
		background: #AFB6E8;
	}
	.menu_nav ul {
		list-style:none;
		margin-left: auto;
		height: 48px;
	}
	.menu_nav ul li {
		padding:0;
		float:left;
		height: 100%;
	}
	.menu_nav ul li a {
		padding:0 15px;
	}

	.flex-container img {
		float: left;
	}
}

@media screen and (max-width: 48em) {
	.large-menu {
		display: none;
	}
#menuToggle
{
  display: block;
  position: absolute;
  top: 12px;
  right: 10px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

.menu_nav ul li a {
	padding: 10px 15px;
}
.menu_nav ul li {
	padding: 0;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #fff;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(6px, -1px);
  background: #FFF;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, 6px);
}

.navigation {
	float: right;
}

#nav
{
  position: absolute;
  width: 250px;
  margin: -100px 0 0 0;
  padding: 40px;
  padding-top: 109px;
  right: -100px;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#nav li
{
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}
  }
  